@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="contactPage"></div>
@section scripts
    {
    <script src="~/ReactViews/Contact/dist/bundle.js"></script>
    }